<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vip Levele</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body class="bg-[rgb(220,252,231)]">
    <div class="bg-black p-4 flex items-center justify-around">
        <a href="{% url 'dashboard' %}" class="text-white">
            <i class="fa fa-arrow-left text-white"></i>
        </a>
        <h3 class="text-white">Levels</h3>
    </div>

    <div class="flex justify-between mt-5 mx-10 shadow-md p-4 bg-white rounded-lg">
        <div class="flex">
            <div class="mr-5 md:ml-0">
                <img src="https://i.postimg.cc/02Mw19qn/level1-1703370234.jpg" alt="" width="40" height="40" class="m-2 md:m-3">
            </div>
            <div>
                <p class="text-lg font-bold">Normal Users</p>
                <p class="text-sm">USDT 50.00</p>
                <p>Normal users receive general purpose data collection access.</p>
                <ul>
                    <li>Suitable for most data capture scenarios involving light to medium usage</li>
                    <li>Profit of 0.5% per product -40 tasks per set</li>
                    <li>Up to 120 optimise tasks per day</li>
                    <li>No access to other Premium features </li>
                </ul>
            </div>
        </div>
        <p>Current level</p>
    </div>
    <div class="flex items-center justify-between mt-5 mx-10 shadow-md p-4 bg-white rounded-lg">
        <div class="flex justify-between">
            <div class="mr-5 md:ml-0">
                <img src="https://i.postimg.cc/HnK88hbb/level2-1703370550.jpg" alt="" width="40" height="40" class="m-2 md:m-3">
            </div>
            <div>
                <p class="text-lg font-bold">Vip 2</p>
                <p class="text-sm">USDT 1500.00</p>
                <p>Vip 2 users receive unlimited access to all features of the platform.</p>
                <ul>
                    <li>Deposit in accordance with our renewal event</li>
                    <li>Profit of 1.0% per task-45 Optimize products per set</li>
                    <li>Better Profit and permission</li>
                    <li>Up to 135 tasks per day can be submitted by Vip 2 users</li>
                    <li>Full access to all other Premium features</li>
                </ul>
            </div>
        </div>
        <!-- <p>Curretn level</p> -->
    </div>
    <div class="flex items-center justify-between mt-5 mx-10 shadow-md p-4 bg-white rounded-lg">
        <div class="flex">
            <div class="mr-5 md:ml-0">
                <img src="https://i.postimg.cc/59kCr6Dj/level3-1703370691.jpg" alt="" width="40" height="40" class="m-2 md:m-3">
            </div>
            <div>
                <p class="text-lg font-bold">Vip 3</p>
                <p class="text-sm">USDT 5000.00</p>
                <p>Vip 3 users receive unlimited access to all features of the platform.</p>
                <ul>
                    <li>Deposit in accordance with our renewal event</li>
                    <li>Profit of 1.5% per task-50 Optimize products per set</li>
                    <li>Better Profit and permission</li>
                    <li>Up to 150 tasks per day can be submitted by Vip 3 users</li>
                </ul>
            </div>
        </div>
        <!-- <p>Curretn level</p> -->
    </div>
    <div class="flex items-center justify-between mt-5 mx-10 shadow-md p-4 bg-white rounded-lg">
        <div class="flex">
            <div class="mr-5 md:ml-0">
                <img src="https://i.postimg.cc/rFBt87Vk/level4-1703370829.jpg" alt="" width="40" height="40" class="m-2 md:m-3">
            </div>
            <div>
                <p class="text-lg font-bold">Vip 4</p>
                <p class="text-sm">USDT 10000.00</p>
                <p>Vip 4 users receive unlimited access to all features of the platform.</p>
                <ul>
                    <li>Deposit in accordance with our renewal event</li>
                    <li>Profit of 2.0% per task-55 Optimize products per set</li>
                    <li>Better Profit and permission</li>
                    <li>Up to 165 tasks per day can be submitted by Vip 4 users</li>
                    <li>Full access to all other Premium features</li>
                </ul>
            </div>
        </div>
        <!-- <p>Curretn level</p> -->
    </div>
    <div class="flex items-center justify-between my-5 mx-10 shadow-md p-4 bg-white rounded-lg">
        <div class="flex">
            <div class="mr-5 md:ml-0">
                <img src="https://i.postimg.cc/Bbt160Pq/premium-user-1723759153.jpg" alt="" width="40" height="40" class="m-2 md:m-3">
            </div>
            <div>
                <p class="text-lg font-bold">Premium</p>
                <p class="text-sm">USDT 20000.00</p>
                <p>Premium users receive unlimited access to all features of the platform.</p>
                <ul>
                    <li>Deposit in accordance with our renewal event</li>
                    <li>Profit of 10% per task-60 Optimize products per set</li>
                    <li>Better Profit and permission/ access to premium benefits</li>
                    <li>Up to 135 tasks per day can be submitted by Premium users</li>
                    <li>Full access to all other features</li>
                    <li> Limitless withdrawal, and benefits percentages of 10 team user</li>
                </ul>
            </div>
        </div>
        <!-- <p>Curretn level</p> -->
    </div>
</body>
</html>